#googlemap{
float:left;
width:600px;
height:400px;
}
#googlemapcontainer{
width:100%;
float:left;
}
#googlemapcontrols{
width:100%;
float:left;
}
#googlemapcontainer_block{
width:100%;
float:left;
overflow:hidden;
}
#googlemap_block{
width:300px;
height:300px;
margin-left:auto;
margin-right:auto;
overflow:hidden;
}
#googlemapcontainer_block_more{
width:100%;
float:left;
text-align:right;
}
#googlemap_block div.gmnoprint{
position:absolute;
bottom:0;
left:0;
right:0;
overflow:hidden;
}
#googlemap_block img.gmnoprint{
}
